{% extends "base.html" %}
{% load static %}
{% block title %}
    Обновить объявление
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'post/update.css' %}">
    <div class="container">
        <h1>Обновить объявление</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="submit-btn">Обновить</button>
        </form>
    </div>
{% endblock %}
